body {
  min-width: 1200px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.site-wrapper {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("slide-1.png");
}

.site-wrapper:after {
  background-image: url("slide-2.png");
}

.container {
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover {
  border-bottom-color: #ffbc9e;
  color: #ffbc9e;
}

input[type="radio"] {
  display: none;
}

input[type="email"],
input[type="text"],
input[type="search"],
input[type="password"] {
  width: 337px;
  padding: 10px 15px;
  margin-right: 10px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  color: #323232;
  background-color: #fff;
  outline: none;
  box-shadow: 0 0 0 1px #d3d3d2;
  border: 0;
  border-radius: 5px;
}

input[type="email"]:hover,
input[type="text"]:hover,
input[type="search"]:hover,
input[type="password"]:hover {
  box-shadow: 0 0 0 2px #c7c6c5;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 0 2px #8fbdec;
}


/*index*/

/*header*/
.main-header {
  padding-top: 10px;
}

.index-logo,
.inner-logo {
  float: left;
  width: 153px;
  height: 63px;
  margin-left: -5px;
  margin-right: 16px;

  border: none;
}

.index-logo img,
.inner-logo img {
  width: 153px;
  height: 63px;
}

.main-navigation {
  width: 800px;
  float: left;
}

.main-menu {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.main-menu > li > a {
  display: block;
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
}

.main-menu > li:not(.active) > a:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 7px;
  right: 14px;
  left: 14px;
}

.main-menu > li:hover > a {
  background-color: #f7f6f3;
  color: #333333;

}

.main-menu > li:active > a {
  color: #333333;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.main-menu > .active > a {
  background-color: #d07058;
}

.main-menu li:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 100%;

  left: -7px;
  display: none;
  width: 143px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  list-style: none;
  /*background: #f8f7f4;*/
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub-menu li {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #f8f7f4;
}

.sub-menu li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 4px;
}

.sub-menu li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 4px;
}

.sub-menu a {
  display: block;
  padding: 7px 0;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  border: 0;
}

.sub-menu-new {
  position: relative;
}

.sub-menu-new a {
  font-weight: 700;
}

.sub-menu-new::after {
  content: "";
  position: absolute;
  left: 6px;
  bottom: 0px;
  right: 6px;
  height: 1px;
  background-color: #d1d0ce;
}

.sub-menu li:hover a {
  background-color: #fbded8;
}

.sub-menu .active a {
  background-color: #d07058;
  color: #ffffff;
}

.sub-menu li:active a {
  background-color: #f6b5a5;
}

.sub-menu .active:hover a {
  background: #d07058;
}

/*right-block*/
.header-info {
  position: relative;
  float: right;
  display: inline-block;
  max-width: 300px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: top;
}

.header-info a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  line-height: 16px;
}

.decoration {
  padding: 8px 15px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
}

.user-block {
  margin-bottom: 25px;
  font-size: 0;
}

.user-block > div {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  font-size: 14px;
  vertical-align: top;
}

.user-block > div:last-child {
  margin-right: 0;
}

/*.user-block .find {
  font-size: 0;
  position: relative;
}

.user-block .account-menu {
  position: relative;
}

.user-block .buy {
  position: relative;
}*/

.user-block .search {
  padding: 8px 17px;
  background: rgba(255, 255, 255, 0.2) url("../img/icon-loup.svg") no-repeat 50% 50%;
}

.user-block .login {
  padding-left: 44px;
  background: rgba(255, 255, 255, 0.2) url("../img/icon-login.svg") no-repeat 16px 50%;
}

.user-block .cart {
  padding-left: 44px;
  padding-right: 34px;
  background: rgba(255, 255, 255, 0.2) url("../img/icon-cart.svg") no-repeat 16px 50%;
}

.user-block a:hover {
  color: #323232;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.user-block .search:hover {
  background-image: url("../img/icon-loup-hover.svg");
  background-position: 50% 50%;
}

.user-block .login:hover {
  background-image: url("../img/icon-login-hover.svg");
}

.user-block .cart:hover {
  background-image: url("../img/icon-cart-hover.svg");
}

/*.user-block a:hover + form,*/


.find form {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  padding-right: 5px;
}

.find input {
  padding: 10px 15px;
  width: 309px;
}

.account-menu form {
  position: absolute;
  top: 100%;
  right: 0px;
  display: none;

  background: #f8f7f4;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.account-menu input {
  width: 210px;
  margin-bottom: 20px;
  margin-right: 0;
}


.account-menu .btn {
  padding: 12px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 18px;
  float: left;
}

.enter-block a {
  display: inline-block;
  margin-right: 0px;
  margin-top: 4px;
  color: #323232;
  font-size: 13px;
  font-weight: 24px;
  font-weight: 400;
  border-bottom: 1px solid #adacaa;
}

.enter-block a:hover {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.user-block a:hover + * {
  display: block;
}

.header-contact {
  text-align: right;
}

.header-contact p {
  margin-bottom: 5px;
}

.header-contact .tel {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}


/*main*/

/*slider*/
.slider {
  position: relative;
  text-align: center;
  padding-top: 270px;
  /*min-height: 465px;*/
  margin-bottom: 42px;
}

.slide {
  display: none;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 700px;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;

  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background-image:    -moz-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background-image:         linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  border-radius: 20px;
}

.btn:hover {
  text-decoration: none;
  color: #ffffff;
  background: #f58669;
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
  border: none;
}

.btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.slider .btn {
  font-size: 31px;
  line-height: 41px;
  padding: 12px 50px;
  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 8px;

  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png");
}

#btn-2:checked ~ .site-wrapper{
  background-color: #8996a6;
  background-image: url("../img/ice-cream2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*actions*/

.actions {
  margin-bottom: 40px;
}

.action-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.action-left {
  padding: 20px;
  padding-top: 18px;
  background: #9c1a36 url("../img/raspberries.png") no-repeat;
  width: 520px;
  float: left;
  border-radius: 15px;
  overflow: hidden;
}

.action-right {
  padding: 20px;
  padding-top: 18px;
  background: #4e3225 url("../img/chocolate.png") no-repeat;
  width: 520px;
  float: right;
  border-radius: 15px;
  overflow: hidden;
}

.actions p {
  margin: 0;
  min-height: 91px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.actions .btn {
  float: right;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 22px;
}


/*catalog*/

.catalog-items {
  /*margin-bottom: 37px;*/
}

.catalog-item {
  position: relative;
  z-index: 3;
  width: 267px;
  float: left;
  margin-right: 26px;
  text-align: center;
  margin-bottom: 37px;
}

.catalog-item::before {
  content:"";
  position: absolute;
  z-index: 2;
  display: none;
  left: -7px;
  top: -5px;
  background: rgba(255, 255, 255, 0.2);
  width: 281px;
  min-height: 405px;
  /*padding: 0 7px;*/
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover {
  z-index: 10;
}

.catalog-item:hover::before {
  display: block;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.item-preview {
  position: relative;
  z-index: 3;
  margin-bottom: 8px;
}

.catalog-item .hit {
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/hit.png") no-repeat;
}

.catalog-item .price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  left: 0px;
  bottom: 25px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .rouble-icon {
  font-size: 0;
  background: url("../img/rouble-icon.png") no-repeat 50% 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  padding-right: 3px;
  padding-left: 3px;
  width: 30px;
  height: 35px;
}

.catalog-item .kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-title {
  position: relative;
  z-index: 3;
}

.catalog-item .btn {
  position: absolute;
  z-index: 3;
  display: none;
  left: 30px;
  right: 30px;
  z-index: 3;
  margin-top: 11px;
}

.catalog-item:hover .btn {
  display: block;
}

.catalog-item img {
  border-radius: 50%;
  overflow: hidden;
  width: 267px;
  height: 267px;
}


/*features*/

.features {
  padding: 25px 20px;
  margin-bottom: 40px;
  background: #ebdec2 url("../img/waffer-pattern-1.jpg");
  background-size: 24px 25px;
  border-radius: 15px;
}

.features-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item {
  max-width: 479px;
  min-height: 80px;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 28px;
  padding-left: 56px;
  padding-top: 10px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  background-image: url("../img/ice-crem(icon).svg");
  background-repeat: no-repeat;
}

.features-item:nth-of-type(2n) {
  margin-right: 0;
}

.features-cow {
  background-image: url("../img/cow.svg");
}

.features-leaf {
  background-image: url("../img/leaf.svg");
}

.features-thermometer {
  background-image: url("../img/icon-thermometer.svg");
}


/*index-content*/

.index-content {
  margin-bottom: 40px;
}

.index-content-left {
  float: left;
  padding: 24px 20px;
  padding-bottom: 79px;
  background-color: #ffffff;
  background-image: url("../img/background-news.jpg");
  width: 520px;
  /*min-height: 172px;*/

  border-radius: 15px;
}

.index-content-left .title {
  color: #323232;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 5px;
}

.index-content-left a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  border: none;
}

.index-content-left a:hover {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.index-content-right {
  float: right;
  padding: 5px;
  border-radius: 15px;
  background-image: url("../img/mail-pattern.jpg");

}

.index-content-right .subscribe {
  border-radius: 10px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  width: 510px;
  /*min-height: 141px;*/
  padding: 30px 20px 35px;
}

.index-content-right p {
  margin: 0;
  margin-bottom: 35px;
}

.index-content-right .btn {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 18px;
}


/*map*/

.search-map {
  min-height: 430px;
  width: 1200px;
  margin: 0 auto;
  color: #323232;
  position: relative;
  background-color: #ece5c9;
  background-image: url("../img/map_v_pin.jpg");
}

.search-map-contacts {
  position: absolute;
  background-color: #ffffff;
  padding: 25px 25px;
  width: 255px;
  min-height: 242px;
  right: 26px;
  top: 63px;
  bottom: 63px;
  border-radius: 15px;
}

.search-map p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
}

.search-map span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.search-map .tel {
  display: block;
}

.search-map .btn {
  width: auto;
  padding-right: 28px;
  padding-left: 28px;
  font-size: 18px;
  line-height: 24px;
}

.feedback {
  display: none;
}


/*footer*/

.main-footer {
  padding: 20px 0;
  /*min-height: 104px;*/
}

.main-footer p {
  padding: 0;
  margin: 0;
}

.footer-social {
  /*min-height: 83px;*/
  width: 267px;
  float: left;
  margin-right: 46px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 31px;
  height: 31px;
  margin-right: 13px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-image: url("../img/socialtw.svg");
  opacity: 0.8;
  background-repeat: no-repeat;
  margin-top: 16px;
  font-size: 0;
}

.social-btn:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.71);
}

.social-btn:active {
  box-shadow: inset 0 2px 1px #888888;
}

.social-btn-in {
  background-image: url("../img/social-instagram.svg");
}

.social-btn-fb {
  background-image: url("../img/socialfb.svg");
}

.social-btn-vk {
  background-image: url("../img/socialvk.svg");
}

.footer-info {
  /*min-height: 83px;*/
  width: 346px;
  float: left;
  margin-top: 10px;
  padding-left: 107px;
  padding-right: 107px;
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  margin-right: 45px;
  white-space: nowrap;
}

.footer-info a:first-child {
  margin-right: 33px;
}

.footer-info a:last-child {
  margin-right: 0;
}

.for-providers {
  font-weight: 700;
  position: relative;
}

.for-providers::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  left: -22px;
  top: 3px;
}

.footer-copyright {
  padding: 0;
  margin: 0;
  /*min-height: 83px;*/
  max-width: 267px;
  float: right;
}

.copyright-logo {
  border: 0;
  width: 108px;
  height: 39px;
}

.copyright-logo img {
  width: 108px;
  height: 39px;
}

.footer-copyright a,
.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
}

/*catalog.html*/

.buy .full-cart {
  padding-right: 16px;
  background:
    url("../img/icon-cart-hover.svg") no-repeat 16px 50%,
    url("../img/full-cart.svg") no-repeat 20px 49%,
    #ffffff;
  color: #323232;
}

.buy .full-cart:hover {
  background:
    url("../img/icon-cart-hover.svg") no-repeat 16px 50%,
    url("../img/full-cart.svg") no-repeat 20px 49%,
    #ffffff;
}

.shopping-list {
  position: absolute;
  /*display: inline-block;*/
  display: none;
  /*width: 490px;*/
  right: 0px;
  top: 100%;
  background: #f8f7f4;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 17px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  vertical-align: top;
}

.shopping-list table {
  width: 510px;
  border-bottom: 1px solid #cacac7;
}

.shopping-list td {
  padding: 5px;
  /*display: inline-block;*/
}

.shopping-list .value {
  color: #999999;
}

.shopping-list tr td:nth-child(2) img {
  border-radius: 50%;
}

.shopping-list tr td:nth-child(3) {
  width: 230px;
}

.shopping-list .sum {
  text-align: right;
}

.shopping-list p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.footer-info .shopping-list {
  display: none;
  position: absolute;
}

.breadcrumbs {
  margin-top: -43px;
}

.page-title {
  margin-bottom: 30px;
}

.filters {
  margin-bottom: 40px;
}

.catalog-items-container {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.paginator {
  /*max-width: 300px;*/
  text-align: right;

  /*margin-top: 80px;*/
}

.paginator a {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  margin: 0;
  /*width: 27px;*/
  /*height: 22px;*/
  border-radius: 50%;
  border: 0;
  /*background-color: #ffffff;*/
}

.paginator a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.paginator .next:hover,
.paginator .prev:hover {
  background: none;
}

.paginator .active {
  color: #323232;
  background-color: #ffffff;
}

.paginator .active:hover {
  background: rgba(255, 255, 255, 1);
  color: #323232;
}

.paginator .disabled {
  opacity: 0.2;
}

.paginator .disabled:hover {
  cursor: default;
}

.filters {
  font-size: 0;
}

.filters fieldset,
.filters button {
  display: inline-block;
  vertical-align: top;
  border: 0;

  font-size: 16px;
}

.filters select,
.filters button {
  color: #ffffff;
}

.filters button {
  box-shadow: 0 0 0 2px #ffffff;
  padding: 8px 45px;
}

.filters button:hover {
  background: #ffffff;
  color: #323232;
  cursor: pointer;
}

.filters button:active {
  background: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
  border: 0;
}
